*{
    font-size: medium;
    font-family: "Fredoka", sans-serif;
}

body {
    margin: 0px;
}

header{
    background-color: #27005D;
    color: #9400FF;
}

main{
    background-color: white;
}

footer{
    background-color: #ffffff;
    color: #9400FF;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("Logo.png");
    background-size: cover;
    height: 50px;
    width: 50%;
}

#myPhoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-radius: 50px;
}

#me{
    font-size: larger;
    font-family: Tahoma;
    width: 10%;
    color: rgba(0, 0, 0, 0.9);
}

#aboutme{
    display: block;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    box-shadow: 5px 5px 20px black; 
    color: black;
    font-size: clamp(1rem, 2.5vw, 17px);
}

big{
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtube{
    text-decoration: none;
    color: red;
}

#linkedin{
    color: rgb(0, 179, 255);
    margin-left: 20px;
    margin-right: 20px;
}

#github{
    color: black;
}

#intro{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

u{
    display: block;
    font-family: Tahoma;
    text-align: center;
}

/* main{
    display: flex;
    justify-content: center;
    /* height: 60vh; */
    /* align-items: center; 
}*/


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px 5px;
    }

}

.card{
    height: 100px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;

}

#everythingme{
    width: 200px;
    border-radius: 3px;
    transition: 0.2s;
}

.card:hover img{
    transform: scale(1.01) rotate(-3deg);
    transition: all ease 0.2s - 0.5s;
}

form{
    text-align: center;
}

@media (max-width: 901px) {
    form{
        gap: 100px;
    }

}

#insta{
    color: rgb(191, 10, 191);
    text-decoration: none;
    margin-left: 40px
}

#mail{
    margin-left: 40px;
}

#pacc{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

#email{
    color: rgba(255, 255, 255, 0.9);
}

#form{
    color: rgba(0, 0, 0, 0.9);
}

#foot{
    background-color: #27005D;
    height: 70px;
    width: auto;
    font-weight: bold;
    }

.nav-bar{
    list-style-type: none;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    box-shadow: 0px 2px 10px black; 
    background-color: #27005D;
    z-index: 999;
}
    
.nav-bar a{
    float: right;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    transition-property: all;
    transition: all ease 0.3s;
    }

.nav-bar a:hover{
        color: #AED2FF;
        transition: 0.2s;
    } 

#logo{
    height: 50px;
}

#name, #email{
    width: 400px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #ffffff;
    border: 0px;
    height: 45px;
    box-shadow: 1px 1px 4px black;
}

#sub{
    margin: 0px;
    border: 0px;
    height: 45px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
}

@media (max-width: 875px) {
    #sub{
        width: 480px;
    }
}

@media (max-width: 555px) {
    #sub{
        width: 380px;
    }
}

#subm{
    margin: 0px;
    border: 0px;
    height: 60px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    resize: none;
}

@media (max-width: 875px) {
    #subm{
        width: 480px;
    }
}

@media (max-width: 555px) {
    #subm{
        width: 380px;
    }
}

input[type="Submit"]{
    border: 0px;
    height: 45px;
    width: 800px;
    background-color: #cb3636;
    border-radius: 20px;
    transition-property: all;
    transition: all ease 0.2s;
}

input[type="Submit"]:hover{
    transform: scale(1.03);
    transition: all ease 0.3s;
}

@media (max-width: 875px) {
    input[type="Submit"]{    
    width: 500px;
    }
}

@media (max-width: 555px) {
    input[type="Submit"]{
        width: 380px;
    }
}

.contact{
    margin-left: 80px;
}

textarea ::placeholder{
    text-align: center;
}

.bottom {
    color: white;
    text-align: start;
    padding-top: 21px;
    font-weight: 400;
}

.thanks{
    text-align: center;
    color: white;
    font-weight: 450;
}

/* experiences.html */
.edu-title{
    text-align: center;
    padding-top: 10px;
    /* padding-left: 100px; */
    font-style: italic;
}
/* 
.edu-images{
    display: flex;
    padding-left: 40px;
    row-gap: 100px;
    padding-top: 10px;
    flex-direction: column;
} */